@{
  TempData.Keep();
  string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Navbar: Start -->
<nav class="layout-navbar container shadow-none py-0">
  <div class="navbar navbar-expand-lg landing-navbar border-top-0 px-3 px-md-4">
    <!-- Menu logo wrapper: Start -->
    <div class="navbar-brand app-brand demo d-flex py-0 py-lg-2 me-4">
      <!-- Mobile menu toggle: Start-->
      <button class="navbar-toggler border-0 px-0 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="tf-icons mdi mdi-menu mdi-24px align-middle"></i>
      </button>
      <!-- Mobile menu toggle: End-->
      <a href="/FrontPages/LandingPage" class="app-brand-link">
        <span class="app-brand-logo demo">
          @await Html.PartialAsync("../_Partials/_Macros")
        </span>
        <span class="app-brand-text demo menu-text fw-bold ms-2 ps-1">@TempData.Peek("appName")</span>
      </a>
    </div>
    <!-- Menu logo wrapper: End -->

    <!-- Menu wrapper: Start -->
    <div class="collapse navbar-collapse landing-nav-menu" id="navbarSupportedContent">
      <button class="navbar-toggler border-0 text-heading position-absolute end-0 top-0 scaleX-n1-rtl" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="tf-icons mdi mdi-close"></i>
      </button>
      <ul class="navbar-nav me-auto p-3 p-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-medium" asp-controller="FrontPages" asp-action="LandingPage" asp-fragment="landingHero">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-medium" asp-controller="FrontPages" asp-action="LandingPage" asp-fragment="landingFeatures">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-medium" asp-controller="FrontPages" asp-action="LandingPage" asp-fragment="landingTeam">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-medium" asp-controller="FrontPages" asp-action="LandingPage" asp-fragment="landingFAQ">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-medium" asp-controller="FrontPages" asp-action="LandingPage" asp-fragment="landingContact">Contact us</a>
        </li>
        <li class='nav-item mega-dropdown@((currentPage.StartsWith("/FrontPages/Pricing") || currentPage.StartsWith("/FrontPages/Payment") || currentPage.StartsWith("/FrontPages/Checkout") || currentPage.StartsWith("/FrontPages/HelpCenter")) ? " active open" : "")'>
          <a href="javascript:void(0);" class="nav-link dropdown-toggle navbar-ex-14-mega-dropdown mega-dropdown fw-medium" aria-expanded="false" data-bs-toggle="mega-dropdown" data-trigger="hover">
            <span data-i18n="Pages">Pages</span>
          </a>
          <div class="dropdown-menu p-4">
            <div class="row gy-4">
              <div class="col-12 col-lg">
                <div class="h6 d-flex align-items-center mb-2 mb-lg-3">
                  <div class="avatar avatar-sm flex-shrink-0 me-2">
                    <span class="avatar-initial rounded bg-label-primary"><i class='mdi mdi-view-grid-outline'></i></span>
                  </div>
                  <span class="ps-1">Other</span>
                </div>
                <ul class="nav flex-column">
                  <li class='nav-item@(currentPage == "/FrontPages/PricingPage"  ? " active" : "")'>
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="FrontPages" asp-action="PricingPage">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      <span data-i18n="Pricing">Pricing</span>
                    </a>
                  </li>
                  <li class='nav-item@(currentPage == "/FrontPages/PaymentPage"  ? " active" : "")'>
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="FrontPages" asp-action="PaymentPage">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      <span data-i18n="Payment">Payment</span>
                    </a>
                  </li>
                  <li class='nav-item@(currentPage == "/FrontPages/CheckoutPage"  ? " active" : "")'>
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="FrontPages" asp-action="CheckoutPage">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      <span data-i18n="Checkout">Checkout</span>
                    </a>
                  </li>
                  <li class='nav-item@(currentPage == "/FrontPages/HelpCenterLanding"  ? " active" : "")'>
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="FrontPages" asp-action="HelpCenterLanding">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      <span data-i18n="Help Center">Help Center</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-lg">
                <div class="h6 d-flex align-items-center mb-2 mb-lg-3">
                  <div class="avatar avatar-sm flex-shrink-0 me-2">
                    <span class="avatar-initial rounded bg-label-primary"><i class='mdi mdi-lock-open-outline'></i></span>
                  </div>
                  <span class="ps-1">Auth Demo</span>
                </div>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="Auth" asp-action="LoginBasic" target="_blank">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      Login (Basic)
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="Auth" asp-action="LoginCover" target="_blank">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      Login (Cover)
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mega-dropdown-link d-flex align-items-center"  asp-controller="Auth" asp-action="RegisterBasic" target="_blank">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      Register (Basic)
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="Auth" asp-action="RegisterCover" target="_blank">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      Register (Cover)
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="Auth" asp-action="RegisterMultisteps" target="_blank">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      Register (Multi-steps)
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="Auth" asp-action="ForgotPasswordBasic" target="_blank">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      Forgot Password (Basic)
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="Auth" asp-action="ForgotPasswordCover" target="_blank">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      Forgot Password (Cover)
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="Auth" asp-action="ResetPasswordBasic" target="_blank">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      Reset Password (Basic)
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="Auth" asp-action="ResetPasswordCover" target="_blank">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      Reset Password (Cover)
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-lg">
                <div class="h6 d-flex align-items-center mb-2 mb-lg-3">
                  <div class="avatar avatar-sm flex-shrink-0 me-2">
                    <span class="avatar-initial rounded bg-label-primary"><i class='mdi mdi-image-outline'></i></span>
                  </div>
                  <span class="ps-1">Other</span>
                </div>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="Pages" asp-action="MiscError" target="_blank">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      Error
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="Pages" asp-action="MiscUnderMaintenance" target="_blank">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      Under Maintenance
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="Pages" asp-action="MiscComingSoon" target="_blank">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      Coming Soon
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="Pages" asp-action="MiscNotAuthorized" target="_blank">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      Not Authorized
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="Auth" asp-action="VerifyEmailBasic" target="_blank">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      Verify Email (Basic)
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="Auth" asp-action="VerifyEmailCover" target="_blank">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      Verify Email (Cover)
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="Auth" asp-action="TwoStepsBasic" target="_blank">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      Two Steps (Basic)
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mega-dropdown-link d-flex align-items-center" asp-controller="Auth" asp-action="TwoStepsCover" target="_blank">
                      <i class='mdi mdi-radiobox-blank mdi-14px me-2'></i>
                      Two Steps (Cover)
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-4 d-none d-lg-block">
                <div class="bg-body nav-img-col p-2">
                  <img src="~/img/front-pages/misc/nav-item-col-img-light.png" class="img-fluid scaleX-n1-rtl w-100" alt="nav item col image" data-app-light-img="front-pages/misc/nav-item-col-img-light.png" data-app-dark-img="front-pages/misc/nav-item-col-img-dark.png" />
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-medium" asp-controller="Ecommerce" asp-action="Dashboard" target="_blank">Admin</a>
        </li>
      </ul>
    </div>
    <div class="landing-menu-overlay d-lg-none"></div>
    <!-- Menu wrapper: End -->
    <!-- Toolbar: Start -->
    <ul class="navbar-nav flex-row align-items-center ms-auto">

      <!-- Style Switcher -->
      <li class="nav-item dropdown-style-switcher dropdown me-2 me-xl-0">
        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
          <i class='mdi mdi-24px'></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-styles">
          <li>
            <a class="dropdown-item" href="javascript:void(0);" data-theme="light">
              <span class="align-middle"><i class='mdi mdi-weather-sunny me-2'></i>Light</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);" data-theme="dark">
              <span class="align-middle"><i class="mdi mdi-weather-night me-2"></i>Dark</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);" data-theme="system">
              <span class="align-middle"><i class="mdi mdi-monitor me-2"></i>System</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- / Style Switcher-->

      <!-- navbar button: Start -->
      <li>
        <a href="/Auth/RegisterBasic" class="btn btn-primary px-2 px-sm-4 px-lg-2 px-xl-4" target="_blank"><span class="tf-icons mdi mdi-account me-md-1"></span><span class="d-none d-md-block">Login/Register</span></a>
      </li>
      <!-- navbar button: End -->
    </ul>
  </div>
</nav>
